.daily-card {
  display: grid;
  opacity: 0.9;
  color: var(--gainsboro);
  background-color: var(--darker-blackblue-90);
  min-height: 150px;
  height: 25vh;
  padding: 5px;
  overflow: hidden;
  border-radius: 5px;
  grid-template-rows: auto 2fr auto;
  grid-template-columns: repeat(auto-fill, minmax(1fr));
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.daily-card:focus {
    border: 4px solid orangered;
}

.daily-card .header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  overflow: hidden;
}

.daily-card .resume {
  display: grid;
  border: 1px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
  text-overflow: ellipsis;
}

.daily-card .resume p {
  font-size: 1.3rem;
  margin: 0;
  white-space: wrap;
  line-break: anywhere;
  word-break: break-all;
  overflow: hidden;
}
