/* You can add global styles to this file, and also import other style files */

@import url('src/styles/reset.css');

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 10px;
  background-color: #fffbf1;
  opacity: 1;
  background-image:  radial-gradient(#131313 1.75px, transparent 1.75px), radial-gradient(#131313 1.75px, #fffbf1 1.75px);
  background-size: 70px 70px;
  background-position: 0 0,35px 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
